<div class="welcomeTitle">
    <h1>Welcome to Crows!</h1>
</div>

<div class="info">
    <div class="combine">
        <img class="logo" src="crowUI/img/chicken-music.png" height="180px" style="float: left;" height="200" width="200">
        <h2 syle="float: right;">Hello traveler! You have reached the Crows website. A brand new way to stream all your favorite music. It is simple to use and free!
            We are so glad to have you find us. If you are new consider making a new account and joining the party. If you are a returning bird login to continue your music experience.
        </h2>
    </div>
</div>