.welcomeTitle{
    font-family: Gloria Hallelujah, "Comic Sans", sans-serif, serif;
    filter: drop-shadow(3px 3px 8px #000);
	color: white;
	background-color: rgba(148, 147, 147, 0.1);
    padding: 2em;
    text-align: center;
}

h2 {
	font-family: Gloria Hallelujah;
	text-align: center;
    font-size: 100%;
}

.logo {
    margin-top: 5em;
  }