.welcomeTitle{
    font-family: Gloria Hallelujah, "Comic Sans", sans-serif, serif;
    filter: drop-shadow(3px 3px 8px rgb(71, 71, 71));
	color: black;
    text-align: center;
    padding: 0.5em;
}

h2 {
	font-family: Gloria Hallelujah;
	text-align: center;
    font-size: 5vm;
}

.info{
    margin-top: 0em;
}

.logo{
    margin-left: 2em;
}

.text {
    margin-top: 3em;
    margin-left: 3em;
    margin-right: 3em;
    
  }