<body class="welcome">
    <img class="logo" src="/img/chickenMusic.png" style="float: left;" height="400" width="400">
    <h2 class="text">
        <div class="welcomeTitle">
            <h1>Welcome to Crows!</h1>
        </div>
        <h2>Hello traveler! You have reached the Crows website. A brand new way to stream all your favorite music. It is simple to use and free!</h2>
        <h2>We are so glad to have you find us. If you are new consider making a new account and joining the party. If you are a returning bird login to continue your music experience.</h2>
    </h2>
</body>

