<body id="genre">
    <div class="empty"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" data-toggle="list" href="#list-home" role="tab" aria-controls="home"><h2>Rock and Roll</h2></a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile"><h2>Alternative</h2></a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages"><h2>Pop</h2></a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings"><h2>Popular</h2></a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings"><h2>Country</h2></a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings"><h2>R&B and Soul</h2></a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings"><h2>Hip Hop</h2></a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings"><h2>Electronic</h2></a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings"><h2>Dance</h2></a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings"><h2>Jazz</h2></a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings"><h2>Blues</h2></a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings"><h2>Classical</h2></a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings"><h2>Heavy Metal</h2></a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings"><h2>Reggae</h2></a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings"><h2>Folk</h2></a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings"><h2>Latin</h2></a>
                  </div>
            </div>
            <div class="col text-center">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                        <table class="table text-center">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Title</th>
                                <th scope="col">Artist</th>
                                <th scope="col">Album</th>
                                <th scope="col">Created</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>Song Name</td>
                                <td>Someone</td>
                                <td>Someone2</td>
                                <td>11-29-20</td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>Tell Me A Song</td>
                                <td>Someone2</td>
                                <td>Someone2</td>
                                <td>11-29-20</td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>Elmo's World</td>
                                <td>Elmo</td>
                                <td>Someone2</td>
                                <td>11-29-20</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">

                    </div>
                    <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">

                    </div>
                    <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">

                    </div>
                  </div>
            </div>
        </div>
    </div>
</body>
