<body>
    <div class="player">
        <div class="left"></div>
        <div class="right">
            <div class="top">
                <a class="song"
                    href="https://piano-tiles.fandom.com/wiki/River_Flows_in_You">River flows in you</a>
                <a class="artist"
                    href="https://en.wikipedia.org/wiki/Yiruma">Yiruma</a>
            </div>
            <div class="bottom">
                <video controls="" _autoplay="" name="media">
                    <source src="http://localhost:3000/static/files/songs/Ascence - About You [NCS Release].m4a"
                        type="audio/mpeg"></video>
            </div>
        </div>
    </div>
</body>