<body>
    <div class="player" [hidden] ='!show'>
        <div class="left"></div>
        <div class="right">
            <div class="top">
                <a class="song">{{songName}}</a>
                <a class="artist">{{artist}}</a>
            </div>
            <div class="bottom">
                <video #player="" class="media" controls="" _autoplay="" name="media">
                    <source [src]="songLink"
                        type="audio/mpeg"></video>
            </div>
        </div>
    </div>
</body>
<!--<video controls #player="" (ended)="playerEnded()"></video>-->