#genre{
    background-color:lightgray;
    background-size: 100% 100%;
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    text-align: center;
}

#chicken{
    opacity: .10;
}

.list-group{
    overflow-y: scroll;
    height: 640px;
}

.tab-content{
    overflow-y: scroll;
    height: 640px;
}

.empty{
    margin-top: 1em;
}