
  .title {
    padding-top: 30px;
    background-color: lightgray;    
  }

  h1{
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: solid 1px #666;
  }
  .caption {
    position: absolute;
    padding-left:50px;
    transform: translateY(520%);  
}

#picture {
	background-image: url('../../assets/chicken.png');
	float: right;
	background-size: 300px 300px;
	background-repeat: no-repeat;
	padding-right: 30em;
}
