<app-menu></app-menu>
<div id="about">
    <div class="aboutUsTitle" style="padding-top: 1em;">
        <h1 class="display-3">Meet the SegFaults!</h1>
    </div>
    <div class="overview">
        <h4>The SegFaults are a group of computer science students at the University of Delaware. They formed this group in their Web Design course in the Fall of 2020.
        They are also the creators of Chickens, a fun web single player game that focuses on the player trying to defend a map from different enemies. If you are interested in playing this game, please see the link down below.</h4>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
              <th style="width:25%"><h4>Member Name</h4></th>
              <th style="width:75%"><h4>Overview</h4></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"><h4 class="lead">James Villemarette</h4></th>
                <td><h4 class="lead">James is a Computer Science major that has a concentration in Artifical Intelligence. He is part of UD's cheer and spirit team. Aside from all that, he also enjoys running.</h4></td>
            </tr>
            <tr>
                <th scope="row"><h4 class="lead">Jiamian Wang</h4></th>
                <td><h4 class="lead">Jiamian is a Computer Science major that has a concentration in Artificial Intelligence. Outside of Computer Science, Jiamian enjoys learning new aspects of CS. </h4></td>
            </tr>
            <tr>
                <th scope="row"><h4 class="lead">Lisa Pathania</h4></th>
                <td><h4 class="lead">Lisa is a Computer Science major that has a concentration in Software Engineering. She is part of UD's ACM-W. Aside from that, she enjoys gardening and has many beautiful plants.</h4></td>
            </tr>
            <tr>
                <th scope="row" class="lead"><h4 class="lead">Xing Gao</h4></th>
                <td><h4 class="lead">Xing is a Computer Science major that has a concentration in Artifical Intelligence. Outside of Computer Science, Xing enjoys traveling around to new places!</h4></td>
            </tr>
            <tr>
                <th scope="row"><h4 class="lead">Viva Laas</h4></th>
                <td><h4 class="lead">Viva is a Computer Science major that has a concentration in Software Engineering. She is part of UD's Tennis team. Aside from all that, she enjoys painting and spending time outdoors.</h4></td>
            </tr>
        </tbody>
    </table>
    <div class="link">
        <a href="http://cisc474.cis.udel.edu/cisc474/20f/p1/SegFaults/"><h4>Link to Chickens!</h4></a>
    </div>
</div>