<app-menu></app-menu>
<div id="login">
    <div class="loginTitle" style="padding-top: 2em;">
        <h1 class="display-3">Login to Crows</h1>
    </div>

    <img id="chicken" src="chicken.png">
    <div class="layout">
        <div id="writtenInfo">
            <div id="username">
                <h2><b>Username</b></h2>
                <input type="text" placeholder="Enter Username" name="uname" required>
            </div>
            <div id="password">
                <h2><b>Password</b></h2>
                <input type="password" placeholder="Enter Password" name="psw" required>
            </div>

        </div>

        <div id="buttons">
            <div id="in">
                <button>
                    Login
                </button>
            </div>

            <div id="up">
                <button>
                    Sign Up
                </button>
            </div>
        </div>

    </div>
</div>