
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" [hidden]='!loggedIn'>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a [routerLinkActive]='activeClass' class="nav-link" routerLink='/home'>Crows <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a [routerLinkActive]='activeClass' class="nav-link" routerLink='/playlists'>Playlists</a>
            </li>
            <li class="nav-item">
				<a [routerLinkActive]='activeClass' class="nav-link" routerLink='/albums'>Albums</a>
			</li>
			<li class="nav-item">
				<a [routerLinkActive]='activeClass' class="nav-link" routerLink='/artists'>Artists</a>
			</li>
			<li class="nav-item">
				<a [routerLinkActive]='activeClass' class="nav-link" routerLink='/genres'>Genres</a>
            </li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<a [routerLinkActive]='activeClass' class="nav-link" routerLink='/welcome'>Logout</a>
		</form>
	</div>
</nav>

<!--not logged in-->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" [hidden]='loggedIn'>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a routerLinkActive='activeClass' class="nav-link" routerLink='/welcome'>Crows<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a routerLinkActive='activeClass' class="nav-link" routerLink='/about'>About Us</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-primary my-2 my-sm-0  mr-2" routerLink="/signUp">Sign Up</button>
            <button class="btn btn-outline-primary my-2 my-sm-0" routerLink="/login">Login</button>
      </form>
	</div>
</nav>