<!--
<div>
    <ul>
        <li class="nav-home">
            <a [routerLinkActive]='activeClass' class="nav-link" routerLink='/welcome'><h2 class="text-white">Crows</h2></a>
        </li>

        <li class="nav-login" style="float:right">
            <a [routerLinkActive]='activeClass' class="nav-link" routerLink='/login'><h2 class="text-white">Login</h2></a>
        </li>

        <li class="nav-login" style="float:right">
            <a [routerLinkActive]='activeClass' class="nav-link" routerLink='/signUp'><h2 class="text-white">Sign Up</h2></a>
        </li>

        <li class="nav-about" style="float:right">
            <a [routerLinkActive]='activeClass' class="nav-link" routerLink='/about'><h2 class="text-white">About</h2></a>
        </li>
        
    </ul>
</div>
-->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#">Crows</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a [routerLinkActive]='activeClass' class="nav-link" routerLink='/welcome'>Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a [routerLinkActive]='activeClass' class="nav-link" routerLink='/playlist'>Playlists</a>
            </li>
            <li class="nav-item">
				<a [routerLinkActive]='activeClass' class="nav-link" routerLink='/about'>About</a>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search" placeholder="Search Songs" aria-label="Search">
			<button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>
</nav>
