<div id="album">
  <div class="title text-center" style="padding-top: 1em;">
    <h1 class="display-3 mt-5">Albums</h1>
  </div>

  <div class="container align-items-center">
    <div class="row justify-content-md-center ">

      <div class="text-center col p-3">
        <img src="https://cdn.theatlantic.com/static/mt/assets/science/cat_caviar.jpg" alt="img" width="250px" height="250px">
        <h3 class="caption">Cool Kitten</h3>
      </div>


<div class="flex-container">
  <div>
    <img src="img" alt="img" width="250px" height="250px">
    <p class="caption"> Album Name</p> </div>
  <!--
    <div *ngFor="let p of albumsCollection">
      <img src=(click)="playSong( p.id )">{{ p.coverimg }} alt="img" width="250px" height="250px">
          <p class="caption"> (click)="playSong( p.id )">{{ p.album}} </p> </div>
  -->  
  <div><img src="img" alt="img" src="https://cdn.theatlantic.com/static/mt/assets/science/cat_caviar.jpg" width="250px" height="250px">
    <p class="caption"> Album Name</p> </div>
  <div><img src="img" alt="img" width="250px" height="250px">
    <p class="caption"> Album Name</p> </div>  
  <div><img src="img" alt="img" width="250px" height="250px">
    <p class="caption"> Album Name</p> </div> 
  <div><img src="img" alt="img" width="250px" height="250px">
    <p class="caption"> Album Name</p> </div> 
  <div><img src="img" alt="img" width="250px" height="250px">
    <p class="caption"> Album Name</p> </div> 
  <div><img src="img" alt="img" width="250px" height="250px">
    <p class="caption"> Album Name</p> </div> 
  <div><img src="img" alt="img" width="250px" height="250px"> 
    <p class="caption"> Album Name</p> </div> 
  <div><img src="img" alt="img" width="250px" height="250px">
    <p class="caption"> Album Name</p>  </div> 
  <div><img src="img" alt="img" width="250px" height="250px">
    <p class="caption"> Album Name</p> </div> 

      <div class="text-center col p-3">
        <img src="https://cdn.theatlantic.com/static/mt/assets/science/cat_caviar.jpg" alt="img" width="250px" height="250px">
        <h3 class="caption">Cool Kitten</h3>
      </div>

      <div class="text-center col p-3">
        <img src="https://cdn.theatlantic.com/static/mt/assets/science/cat_caviar.jpg" alt="img" width="250px" height="250px">
        <h3 class="caption">Cool Kitten</h3>
      </div>
  
      <div class="text-center col p-3">
        <img src="https://cdn.theatlantic.com/static/mt/assets/science/cat_caviar.jpg" alt="img" width="250px" height="250px">
        <h3 class="caption">Cool Kitten</h3>
      </div>
  
      <div class="text-center col p-3">
        <img src="https://cdn.theatlantic.com/static/mt/assets/science/cat_caviar.jpg" alt="img" width="250px" height="250px">
        <h3 class="caption">Cool Kitten</h3>
      </div>

      <div class="text-center col p-3">
        <img src="https://cdn.theatlantic.com/static/mt/assets/science/cat_caviar.jpg" alt="img" width="250px" height="250px">
        <h3 class="caption">Cool Kitten</h3>
      </div>
    </div>
  </div>

</div>