body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center; 
}

#picture {
  background-image: url('chicken-music.png');
  float: right;
  background-size: 300px 300px;
  background-repeat: no-repeat;
  padding-right: 30em;

}

