<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Crows</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Account</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search Songs" aria-label="Search">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

  <div class="container py-5">
    <img id="picture" height=300px width = 300px >

    <header class="text-left text-black py-5">
      <p class="display-7 lead mb-0">PLAYLIST</p>
      <h1 class="display-4 font-weight-bold mb-4">My Playlist Title</h1>
      <p class="display-5 font-italic">Created By: @username </p>
      <a href="www.google.com" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Pause</a>
    </header>
    </div>

    <table class="table text-center">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Artist</th>
          <th scope="col">Album</th>
          <th scope="col">Created</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Song Name</td>
          <td>Someone</td>
          <td>Someone2</td>
          <td>11-29-20</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Tell Me A Song</td>
          <td>Someone2</td>
          <td>Someone2</td>
          <td>11-29-20</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Elmo's World</td>
          <td>Elmo</td>
          <td>Someone2</td>
          <td>11-29-20</td>
        </tr>
      </tbody>
    </table>

    </body>
</html>