<div id="playlist">
	<div class="title text-center" style="padding-top: 1em;">
	  <h1 class="display-3 mt-5">Playlists</h1>
	</div>
  
	<div class="container align-items-center">
	  <div class="row justify-content-md-center ">
			<div class="text-center col p-3" routerLink="/playlists/{{p.id}}" *ngFor="let p of examplePlaylist">
				<img src="https://cdn.theatlantic.com/static/mt/assets/science/cat_caviar.jpg" alt="img" width="250px" height="250px">
				<h3 class="caption">{{ p.name }}</h3>
			</div>
		<!--<div class="text-center col p-3">
		  <img src="https://cdn.theatlantic.com/static/mt/assets/science/cat_caviar.jpg" alt="img" width="250px" height="250px">
		  <h3 class="caption">Cool Kitten</h3>
		</div>
  
		<div class="text-center col p-3" routerLink="/playlists/2" routerLinkActive="active">
		  <img src="https://cdn.theatlantic.com/static/mt/assets/science/cat_caviar.jpg" alt="img" width="250px" height="250px">
		  <h3 class="caption">Cool Kitten</h3>
		</div>
	
		<div class="text-center col p-3" routerLink="/playlists/3" routerLinkActive="active">
		  <img src="https://cdn.theatlantic.com/static/mt/assets/science/cat_caviar.jpg" alt="img" width="250px" height="250px">
		  <h3 class="caption">Cool Kitten</h3>
		</div>
	
		<div class="text-center col p-3" routerLink="/playlists/4" routerLinkActive="active">
		  <img src="https://cdn.theatlantic.com/static/mt/assets/science/cat_caviar.jpg" alt="img" width="250px" height="250px">
		  <h3 class="caption">Cool Kitten</h3>
		</div>
  
		<div class="text-center col p-3" routerLink="/playlists/5" routerLinkActive="active">
		  <img src="https://cdn.theatlantic.com/static/mt/assets/science/cat_caviar.jpg" alt="img" width="250px" height="250px">
		  <h3 class="caption">Cool Kitten</h3>
		</div>
  
		<div class="text-center col p-3" routerLink="/playlists/6" routerLinkActive="active">
		  <img src="https://cdn.theatlantic.com/static/mt/assets/science/cat_caviar.jpg" alt="img" width="250px" height="250px">
		  <h3 class="caption">Cool Kitten</h3>
		</div>
	
		<div class="text-center col p-3" routerLink="/playlists/7" routerLinkActive="active">
		  <img src="https://cdn.theatlantic.com/static/mt/assets/science/cat_caviar.jpg" alt="img" width="250px" height="250px">
		  <h3 class="caption">Cool Kitten</h3>
		</div>
	
		<div class="text-center col p-3" routerLink="/playlists/8" routerLinkActive="active">
		  <img src="https://cdn.theatlantic.com/static/mt/assets/science/cat_caviar.jpg" alt="img" width="250px" height="250px">
		  <h3 class="caption">Cool Kitten</h3>
		</div>
  
		<div class="text-center col p-3" routerLink="/playlists/9" routerLinkActive="active">
		  <img src="https://cdn.theatlantic.com/static/mt/assets/science/cat_caviar.jpg" alt="img" width="250px" height="250px">
		  <h3 class="caption">Cool Kitten</h3>
		</div>-->
	  </div>
	</div>
  
  </div>