<div class="topnav">
    <a class="active" href="#home">Crows</a>
    <a href="#search">Search</a>
    <a href="#user">Username</a>
  </div>
   <body></body>
  <img src= "" alt="cover img"class="left-align"> <!-- 300x300px -->
  <h3 style = "font-family:sans;color:gray;padding-left:1000px"> PLAYLIST </h3>
  <h1 style = "font-family: Gloria Hallelujah, sans-serif, serif; font-size: 60px; color:black;padding-left:1000px"> Title </h1>
  <h4 style = "font-family: Gloria Hallelujah, sans-serif, serif;color:rgb(84, 93, 102);padding-left:1000px"> Created by: someuser </h4>
  <div class="navbar">
    <a class="active" href="#home">Crows</a>
    <!--<a href="#search">Search</a>
    <a href="#user">Username</a> -->
  </div>
