<body id="about">
    <div class="aboutUsTitle">
        <h1>Meet the SegFaults!</h1>
    </div>
    <div class="overview">
        <h4>The SegFaults are a group of computer science students at the University of Delaware. They formed this group in their Web Design course in the Fall of 2020.
        They are also the creators of Chickens, a fun web single player game that focuses on the player trying to defend a map from different enemies. If you are interested in playing this game, please see the link down below.</h4>
    </div>

    <div id="segfaults">
        <div id="James" class="row">
            <div class="column left">
                <h3>James Villemarette</h3>
            </div>
            <div class="column right">
                <h2 class="info">James is a Computer Science major that has a concentration in Artifical Intelligence. He is part of UD's cheer and spirit team. Aside from all that, he also enjoys running.</h2>
            </div>
        </div>
        
        <div id="Jiamian" class="row">
            <div class="column left">
                <h3>Jiamian Wang</h3>
            </div>
            <div class="column right">
                <h2 class="info">Jiamian is a Computer Science major that has a concentration in Artificial Intelligence. Outside of Computer Science, Jiamian likes </h2>
            </div>
        </div>
        
        <div id="Lisa" class="row">
            <div class="column left">
                <h3>Lisa Pathania</h3>
            </div>
            <div class="column right">
                <h2 class="info">Lisa is a Computer Science major that has a concentration in ... She is part of UD's ACM-W. Aside from that, she enjoys gardening and has many beautiful plants.</h2>
            </div>
        </div>
        
        <div id="Xing" class="row">
            <div class="column left">
                <h3>Xing Goa</h3>
            </div>
            <div class="column right">
                <h2 class="info">Xing is a Computer Science major that has a concentration in Artifical Intelligence. Outside of Computer Science, Xing enjoys traveling around to new places!</h2>
            </div>
        </div>
        
        <div id="Viva" class="row">
            <div class="column left">
                <h3>Viva Laas</h3>
            </div>
            <div class="column right">
                <h2 class="info">Viva is a Computer Science major that has a concentration in Software Engineering. She is part of UD's Tennis team. Aside from all that, she enjoys painting and spending time outdoors.</h2>
            </div>
        </div>

    </div>

    <div class="link">
        <h4>Link to Chickens!</h4>
    </div>
</body>