<div class="aboutUsTitle">
    <h1>Meet the SegFaults!</h1>
</div>

<div class="overview">
    <h2>The SegFaults are a group of computer science students at the University of Delaware. They formed this group in their Web Design course in the Fall of 2020.
    They are also the creators of Chickens, a fun web single player game that focuses on the player trying to defend a map from different enemies. If you are interested in playing this game, please see the link down below.</h2>
</div>

<div class="James">
    <h3>James Villemarette</h3>
</div>

<div class="Jiamian">
    <h3>Jiamian Wang</h3>
</div>

<div class="Lisa Pathania">
    <h3>Lisa Pathania</h3>
</div>

<div class="Xing Gao">
    <h3>Xing Gao</h3>
</div>

<div class="Viva">
    <h3>Viva Laas</h3>
</div>

<div class="chicken">
    <h2>Link to Chickens! INSERT LINK</h2>
</div>