<app-menu></app-menu>
<div id="sign">
    <div class="signTitle" style="padding-top: 2em;">
        <h1 class="display-3">Sign Up to Crows</h1>
    </div>

    <img id="chicken" src="./../../assets/chicken.png">
    <div class="layout">
        <div id="writtenInfo">
            <div id="nickname">
                <h2><b>Create a Nickname</b></h2>
                <input type="text" placeholder="Enter a NickName" name="nick" required>
            </div>
            <div id="username">
                <h2><b>Create a Username</b></h2>
                <input type="text" placeholder="Enter a Username" name="uname" required>
            </div>
            <div id="password">
                <h2><b>Create a Password</b></h2>
                <input type="password" placeholder="Enter a Password" name="psw" required>
            </div>

        </div>

        <div id="buttons">
            <div id="create">
                <button class="btn btn-primary btn-lg active" role="button">
                    Create Account
                </button>
            </div>

            <div id="login">
                <button class="btn btn-primary btn-lg active" role="button">
                    Login Page
                </button>
            </div>
        </div>

    </div>
</div>