

<div>
    <ul>
        <li class="nav-home ">
            <a [routerLinkActive]='activeClass' class="nav-link" routerLink='welcome'><h1>Crows</h1></a>
        </li>

        <li class="nav-login" style="float:right">
            <a [routerLinkActive]='activeClass' class="nav-link" routerLink='login'><h2>Login</h2></a>
        </li>

        <li class="nav-login" style="float:right">
            <a [routerLinkActive]='activeClass' class="nav-link" routerLink='signUp'><h2>Sign Up</h2></a>
        </li>

        <li class="nav-about" style="float:right">
            <a [routerLinkActive]='activeClass' class="nav-link" routerLink='about'><h2>About</h2></a>
        </li>
        
    </ul>
</div>