
<div id="welcome">
    <div class="container-fluid" style="padding-top: 3em;">
        <div class="row align-items-center">
            <div class="col p-5">
                <img src="assets/chicken.png" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col p-5">
                <div class="text">
                    <h1>Welcome to Crows!</h1>
                    <p>
                        Hello traveler, and welcome to a brand new way to stream all your favorite music. 
                        We are happy to have you join us as we jam out and relax!
                    </p>
                    <a href="signUp" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Sign Up</a>
                    <a href="login" class="btn btn-primary btn-lg active ml-3" role="button" aria-pressed="true">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
