<app-menu></app-menu>
<div id="welcome">
    <div class="empty"></div>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-5">
                <img id="logo">
            </div>
            <div class="col-md-6">
                <div class="text">
                    <h2>Hello traveler! You have reached the Crows website. A brand new way to stream all your favorite music. It is simple to use and free! We hope you enjoy your stay.</h2>
                    <h2>We are so glad to have you find us. If you are new to the party, consider making a new account and joining us. If you are a returning bird, feel free login to continue your music experience.</h2>
                    <h2>Here's to jamming and flying together!</h2>
                </div>
            </div>
        </div>

    </div>
</div>
