<app-menu></app-menu>
<div id="welcome">
    <div class="container-fluid" style="padding-top: 3em;">
        <div class="row align-items-center">
            <div class="col">
                <img src="chicken.png" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col">
                <div class="text">
                    <h1 class="display-3">Welcome to Crows!</h1>
                    <h2>Hello traveler to a brand new way to stream all your favorite music. We are happy to have you join us as we jam out and relax!</h2>
                </div>
            </div>
        </div>
    </div>
</div>
