<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<!-- CSS -->
<section class="content-item" id="comments">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <form>
                    <h3 class="pull-left">New Comment</h3>
                    <button type="submit" class="btn btn-primary pull-right">Submit</button>
                    <fieldset>
                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                                <textarea class="form-control" id="message" placeholder="Your message"
                                    required=""></textarea>
                            </div>
                        </div>
                    </fieldset>
                </form>


                <div class="media">
                    <a class="pull-left" href="#"><img class="media-object" src="../../assets/user1img.png" alt=""></a>
                    <div class="media-body">
                        <h4 class="media-heading">User1</h4>
                        <p>Test1</p>
                        <!-- <ul class="list-unstyled list-inline media-detail pull-right">
                            <span>{{'1288323623006' | date:"MM/dd/yyyy 'at' h:mma"}}</span><br>
                        </ul> -->
                    </div>
                </div>

                <div class="media">
                    <a class="pull-left" href="#"><img class="media-object" src="../../assets/user1img.png" alt=""></a>
                    <div class="media-body">
                        <h4 class="media-heading">User2</h4>
                        <p>Test2</p>
                        <!-- <span>{{'1288323623006' | date:"MM/dd/yyyy 'at' h:mma"}}</span><br> -->
                        
                        <!-- <ul class="list-unstyled list-inline media-detail pull-right">
                        </ul> -->
                    </div>
                </div>

                <div class="media">
                    <a class="pull-left" href="#"><img class="media-object" src="../../assets/user1img.png" alt=""></a>
                    <div class="media-body">
                        <h4 class="media-heading">User3</h4>
                        <p>Test3</p>
                        <!-- <ul class="list-unstyled list-inline media-detail pull-right">
                        </ul> -->
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>