<div id="home" class="container-fluid">
    <div class="container-fluid" style="padding-top: 3em;">
        <div class="row align-items-center">
            <div class="col">
                <img src="chicken.png" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col">
                <div class="text">
                    <h1 class="display-2">Welcome Back Traveler!</h1>
                    <h1>Enjoy your jamming session :D</h1>
                </div>
            </div>
        </div>
    </div>
</div>