<div>
    <ul>
        <li class="nav-home">
            <a [routerLinkActive]='activeClass' class="nav-link" routerLink='/welcome'><h2 class="text-white">Crows</h2></a>
        </li>

        <li class="nav-login" style="float:right">
            <a [routerLinkActive]='activeClass' class="nav-link" routerLink='/albums'><h2 class="text-white">Albums</h2></a>
        </li>

        <li class="nav-login" style="float:right">
            <a [routerLinkActive]='activeClass' class="nav-link" routerLink='/artists'><h2 class="text-white">Artists</h2></a>
        </li>

        <li class="nav-about" style="float:right">
            <a [routerLinkActive]='activeClass' class="nav-link" routerLink='/playlists'><h2 class="text-white">Playlists</h2></a>
        </li>
        
    </ul>
</div>
